<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id Categorie</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="categorie : ${ categories }">
        <td th:text="${ categorie.idCategorie }"></td>
        <td th:text="${ categorie.nomCategorie }"></td>
        <td th:text="${ categorie.description }"></td>
        <td>
            <a class="btn btn-secondary btn-sm" th:href="@{'/categories/edit/' + ${ categorie.idCategorie } }"><i
                    class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <button class="btn btn-danger btn-sm" th:onclick="|supprimer( 'ville' , ${categorie.idCategorie} )|"><i class="fa fa-trash-o"
                                                                                                       aria-hidden="true"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>