<header xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" id="navAdmin">
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">M2IkeAdmin</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="/admin" data-target="#dashboard">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/admin/user" data-target="#user">
                <i class='bx bx-user'></i>
                <span class="links_name">Utilisateurs</span>
            </a>
            <span class="tooltip">Utilisateurs</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-user-circle"></i>
                <span class="links_name">Clients</span>
            </a>
            <span class="tooltip">Clients</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bxl-product-hunt"></i>
                <span class="links_name">Produits</span>
            </a>
            <span class="tooltip">Produits</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-folder'></i>
                <span class="links_name">Categories</span>
            </a>
            <span class="tooltip">Categories</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cart-alt'></i>
                <span class="links_name">Order</span>
            </a>
            <span class="tooltip">Order</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-heart'></i>
                <span class="links_name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <img src="/images/cat_admin.jpg" alt="profileImg">
                <div class="name_job">
                    <div class="name">Cat Admin</div>
                    <div class="job">Administrateur</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>


</header>