<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ajout/edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<main class="container">
    <h1 th:if="${detail.idCommande==0}">Ajouter un detail de commande</h1>
    <h1 th:if="${detail.idCommande>0}">Editer un detail de commande</h1>
    <hr>

    <div class="alert alert-danger" role="alert" th:if="${error != null && error.length() > 0}" th:text="${error}">
    </div>

    <form name="monForm" action="" method="post">
        <div>
            <select class="form-select" name="produit" required id="produit">
                <option >Sélectionner un produit</option>
                <option th:each="produit: ${produits}" th:value="${produit.idProduit}"
                        th:utext="${produit.nomProduit}" th:selected="${ produit.idProduit == detail.produit?.idProduit }" ></option>
            </select>
        </div>
        <div class="form-line mb-4">
            <label class="form-label">Prix Unitaire</label>
            <input class="form-control" type="text" name="prixUnitaire" placeholder="Prix Unitaire" required th:value="${detail.prixUnitaire}">
        </div>
        <div class="form-line mb-4">
            <label class="form-label">Quantite</label>
            <input class="form-control" type="text" name="quantite" placeholder="Quantite" required th:value="${detail.quantite}">
        </div>
        <div class="form-line mb-4">
            <label class="form-label">Remise</label>
            <input class="form-control" type="text" name="remise" placeholder="Remise" required th:value="${detail.remise}">
        </div>
        <div class="form-line mb-4">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>

    </form>
</main>
</body>
</html>